<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>Weather</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fontello.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

</head>

<body>
<div class="wrapper">

    <div class="header">
        <h1>Weather forecast</h1>
    </div>

    <div class="navigation">

        <ol>
            <li><a th:href="@{/}">Jokes</a></li>
            <li><a th:href="@{/weather}">Weather</a></li>
            <li><a th:href="@{/game}">Currency</a></li>
        </ol>

    </div>

    <div class="container">

        <p>Podaj miasto:</p>
        <form th:action="@{/weather}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleFormControlInput1" th:name="city">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br>

        <div th:if="${weather != null}">
            <p th:text="${weather.getLocation().getCountry()}">country</p>
            <p th:text="${weather.getLocation().getName()}">city</p>
            <p><img th:src="@{${url}}"></p>
            <p th:text="${weather.getCurrent().getCondition().getText()}">condition</p>
            <p th:text="${weather.getCurrent().getTempC() + ' &#8451'}">temperature</p>
            <p th:text="${weather.getCurrent().getWindKph() + ' km/h'}">wind</p>
        </div>



    </div>

</div>


</body>
</html>
